In [1]:
import pandas as pd

In [2]:
firstProductSet = {'Product1': ['Computer','Phone','Printer','Desk'],
                   'Price1': [1200,800,200,350],
                   'Name1': ['a','b','c','d'],
                   'Id1': [1,2,3,4]
                   
                   }
df1 = pd.DataFrame(firstProductSet,columns= ['Product1', 'Price1', 'Name1', 'Id1'])


secondProductSet = {'Product1': ['Computer','Phone','Printer','Desk'],
                    'Price1': [1200,800,200,200],
                    'Name1': ['a','b','c','d'],
                    'Id1': [2,2,3,4]
                    }
df2 = pd.DataFrame(secondProductSet,columns= ['Product1', 'Price1', 'Name1', 'Id1'])

In [3]:
df1 = df1.sort_values(by = ['Product1'])
df1 = df1.reset_index(drop = True)
df2 = df2.sort_values(by = ['Product1'])
df2 = df2.reset_index(drop = True)

In [4]:
df_test = df1.eq(df2)
df_test['check'] = df_test['Product1'] & df_test['Price1'] & df_test['Name1'] & df_test['Id1']
d = pd.concat([df1,df2,df_test], axis = 1)
d.loc[d['check'] == False]
#df_test

,Product1,Price1,Name1,Id1,Product1,Price1,Name1,Id1,Product1,Price1,Name1,Id1,check
0,Computer,1200,a,1,Computer,1200,a,2,True,True,True,False,False
1,Desk,350,d,4,Desk,200,d,4,True,False,True,True,False

In [5]:
df_test

   Product1  Price1  Name1    Id1  check
0      True    True   True  False  False
1      True   False   True   True  False
2      True    True   True   True   True
3      True    True   True   True   True